$background-color: rgba(51, 85, 104, .05);
$background-surface-section-color: #FFFFFF;

$badge-color-secondary: #E2E2E4;
$badge-color-info: #AAD7FB;
$badge-color-warning: #FDDEAA;
$badge-text-color-secondary: #000000;
$badge-text-color-info: #0E2A45;
$badge-text-color-warning: #4F3709;

$button-text-color: #2B2E33;

$divider-color: #E2E2E4;

$text-color: #181A1F;
$text-color-secondary: #85888E;